/********** Template CSS **********/
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-mobile-menu {
    display: none;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.justified-center {
    justify-content: center;
}
.fa.fa-calendar {
    vertical-align: middle;
    margin-right: 2px;
}
.highlights {
    padding: 20px;
}

.highlights span {
    border: 1px solid #fbd9b7;
    padding: 7px 9px;
    font-size: 14px;
    background: #fea14326;
    color: #564c94;
    border-radius: 19px;
    width: 100%;
    display: inline-block;
}
.checkin_panel {
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 1px #cccccc91;
    border-radius: 10px;
}

.checkin_data {
    padding: 3px 0px 14px 0px;
    background: #f9f9f9;
    margin: 0;
}

.t-datepicker {
    clear: both;
    width: 100%;
    font-size: 14px;
    line-height: 1.4em;
    max-width: 650px;
    background: #fff;
}
.t-check-in, .t-check-out {
    border-color: #ededed;
    height: calc(3.5rem + 2px);
}
/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}
.section-border {
    border: 1px dashed;
    border-radius: 10px;
}
.form-14 {
    font-size: 14px !important;
}
.btn-primary {
    color: #000 !important;
    background-color: #e3b53d !important;
    border-color: #d5a527 !important;
}

.btn-secondary-light {
    background-color: #423689 !important;
    border-color: #4f4490 !important;
}

.btn-secondary {
    background-color: #160e42 !important;
    border-color: #160e42 !important;
}

.color-secondary {
    color: #160e42 !important;
}


.checkin_title {
    background: -webkit-linear-gradient(left, #2e3cbf 0%, #7f74e3 51%, #3694cb 100%);
    padding: 6px 30px;
}

.checkin_title h5 {
    color: #fff;
    margin: 11px 0;
}

a.login-btn {
    padding: 8px 20px;
    background: #3541c2;
    opacity: 0.9;
    color: #fff;
    margin-left: 10px;
}
.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}

.checkin_content {
    padding: 20px;
    overflow: hidden;
}
.checkin_content h5 {
    margin: 0;
}
.checkin_room_selection {
    float: left;
    width: 50%;
}

.form-floating>label.error {
    color: red;
    position: absolute;
    top: 42px;
    font-size: 12px;
    left: 0;
}

.checkin_room_selection p {
    margin: 0;
}

.checkin_amount span {
    font-size: 11px;
    font-weight: 300;
}
.checkin_amount {
    text-align: right;
}
/*** Service ***/
.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    /* background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
    padding: 30px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: #FFFFFF;
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/
.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
    padding-top: 180px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.remove-guest,.add-guest {
    cursor: pointer;
}

.submenu {
    box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 4%);
    width: 100%;
    overflow-x: scroll;
}

ul.submenu_content {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
li.submenu_item:hover{
    background: #e3b53d;
    color: #160e42;
}


li.submenu_item {
    margin-right: 33px;
    list-style: none;
}

.submenu_item a {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #3c3c3c;
    padding: 15px 33px;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
}

.submenu.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 9;
}

.personal_info_content {
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

.personal_info_title {
    padding: 10px;
    background: #eee;
    text-align: center;
}

.personal_form_data {
    padding: 20px;
}

.checkout_review {
    box-shadow: 0px 0px 3px 0px;
    overflow: hidden;
    border-radius: 10px;
}
.payment_title {
    background: #eee;
    padding: 10px 24px;
}
.checkout_review .payment_title h5 {
    font-weight: 500;
}

.checkout_review .payment_title h5 span {
    font-size: 12px;
    display: block;
    font-weight: 500;
}
.paying_amount {
    font-size: 36px;
}

.review_content {
    padding: 20px 23px;
}
p.address_review {
    font-size: 14px;
    line-height: 17px;
}
.review_room {
    color: #202020;
}
.review_checkin {
    background: #eee;
    padding: 20px 0;
}


/* Rating & Review */
.course-review {
    border-bottom: 1px solid #eee;
    padding: 50px;
    margin-bottom: 30px; }
  
  .avrg-rating .avrg-rate {
    font-size: 50px;
    font-weight: 700;
    display: block;
    color: #17d0cf;
    margin: 10px 0px; }

    .avrg-rating.ul-li ul {
        padding: 0;
        margin: 0;
    }

    .ul-li ul li {
        list-style: none;
        display: inline-block;
    }
  
    
  .avrg-rating li {
    color: #ffc926; }
  
  .avrg-rating .start-bar {
    width: 100px;
    height: 8px;
    display: inline-block;
    margin: 0px 10px;
    background-color: #eeeeee;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
  
  .avrg-rating .rating-overview {
    margin-top: 5px; }
    .avrg-rating .rating-overview:hover .start-bar {
      background-color: #17d0cf; }
  
  .review-option {
    display: inline-block;
    width: 100%; }
  
  .rating {
    display: inline-block;
    position: relative;
    font-size: 20px;
    float: right;
    margin-left: 10px; }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer; }
    .rating label span {
      margin: 0px 2px;
      color: #eee; }
  
  .rating label:last-child {
    position: static; }
  
  .rating label:nth-child(1) {
    z-index: 5; }
  
  .rating label:nth-child(2) {
    z-index: 4; }
  
  .rating label:nth-child(3) {
    z-index: 3; }
  
  .rating label:nth-child(4) {
    z-index: 2; }
  
  .rating label:nth-child(5) {
    z-index: 1; }
  
  .rating label input, .rating label .register-form-area select, .register-form-area .rating label select, .rating label .register-form-area textarea, .register-form-area .rating label textarea {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  
  .rating label .icon {
    float: left;
    color: transparent; }
  
  .rating label:last-child .icon {
    color: #000; }
  
  .rating:not(:hover) label input:checked ~ .icon, .rating:not(:hover) label .register-form-area select:checked ~ .icon, .register-form-area .rating:not(:hover) label select:checked ~ .icon, .rating:not(:hover) label .register-form-area textarea:checked ~ .icon, .register-form-area .rating:not(:hover) label textarea:checked ~ .icon,
  .rating:hover label:hover input ~ .icon,
  .rating:hover label:hover .register-form-area select ~ .icon,
  .register-form-area .rating:hover label:hover select ~ .icon,
  .rating:hover label:hover .register-form-area textarea ~ .icon,
  .register-form-area .rating:hover label:hover textarea ~ .icon {
    color: #ffc926; }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child, .rating label .register-form-area select:focus:not(:checked) ~ .icon:last-child, .register-form-area .rating label select:focus:not(:checked) ~ .icon:last-child, .rating label .register-form-area textarea:focus:not(:checked) ~ .icon:last-child, .register-form-area .rating label textarea:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ffc926; }
    .blog-comment-area {
  margin-top: 10px; }

.blog-comment-area .comment-list li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 25px; }

.blog-comment-area .section-title-2 {
  margin-bottom: 65px; }
  .blog-comment-area .section-title-2 h2 {
    font-size: 30px; }

.blog-comment-area .comment-avater {
    float: left;
    margin-right: 10px;
}

.blog-comment-area .author-designation-comment {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  margin-top: 10px; }
  .blog-comment-area .author-designation-comment h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333333; }

.blog-comment-area .author-name-rate {
  width: 88%;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  margin-top: 7px; }
  .blog-comment-area .author-name-rate span {
    color: #17d0cf; }

.blog-comment-area .time-comment {
  margin-right: 10px; }

.blog-comment-area .comment-ratting li {
  font-size: 15px;
  color: #ffc926;
  border-bottom: none;
  margin-bottom: 0; }

  .registration_process {
    display: none;
  }

  .registration_process.active{
    display: block;
  }
  .otp-content p {
    font-size: 13px;
}
.display-none {
    display: none;
}
.changeGivenNumber {
    color: #128C7E;
    cursor: pointer;
}

h1.booking-success-heading {
    font-size: 82px;
    color: #488d38;
}

.width-100 {
    width: 100%;
}

.hotel-content {
    width: 75%;
    margin: auto;
    background: #fbfbfb;
    padding: 19px;
    border: 2px solid #e9e9e9;
    border-radius: 10px;
}

.hotel-image {
    width: 38%;
    margin-right: 20px;
    border: 1px solid;
    padding: 2px;
}
.display-none{
    display: none;
}
.text-right{
    text-align: right;
}
.update_booking {
    padding: 4px 20px;
    display: inline-block;
    border: 1px solid #3340c1;
    color: #3340c1;
    border-radius: 6px;
    display: none;
}
.testimonial-carousel .testimonial-item {
    padding: 30px;
    height: 190px;
}
.checkin_room_selection{
    width: 68%;
}
.checkin_content_data{
    display: none;
}
.checkout_loader {
    width: 50px;
    display: none;
}
.hotel-thumb {
    display: flex;
}

.top-mobile-menu {
    overflow: hidden;
    padding: 45px 0;
}
.logo-wrapper{
    position: absolute;
    left: -60px;
    top: 14px;
    display: inline;
    width: 62%;
}

@media (max-width: 768px) {

    .highlights span {
        border: none;       
        background: none;
    }


    .top-mobile-menu{
        display: block;
    }
    .desktop-menu{
        display: none;
    }
    h5 {
        font-size: 15px;
    }
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .checkout_review .payment_title h5 {
        font-weight: 500;
        font-size: 18px;
    }
    .review_checkin h5 {
        font-size: 16px;
    }
    .paying_amount {
        font-size: 25px;
    }
    .hotel-image,.hotel-details {
        width: 100%;
    }
    .hotel-content{
        width: 100%;
        padding: 12px;
    }
    
    .hotel-thumb {
        display: block;
    }
    .checkin_data {
        padding: 0;
    }
}
.login-wrapper {
    position: absolute;
    right: 21px;
    padding: 5px 15px;
    background: #e3b53d42;
    border: 2px solid #e3b53d;
    top: 20px;
    border-radius: 16px;
}
.login-wrapper a {
    color: #fff;
}